div.big-red-button {
    background-color: var(--accent-background);
    color: var(--accent-forecolor);
    font-family: ProductSans;
    border-radius: 96px;
    width: 192px;
    height: 192px;
    box-shadow: 1px 1px 4px 2px var(--shadow-color);
    border: solid 1px var(--accent-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.3s ease-out;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    user-select: none;
}

div.big-red-button:hover {
    border-radius: 8px;
    transform: scale(1.05);
}

div.big-red-button:active {
    transform: translateX(1px) translateY(1px);
    box-shadow: 0 0 4px 2px var(--shadow-color);
}

div.big-red-button:hover span {
    transform: translateY(-8px);
}

div.big-red-button span {
    font-size: 18px;
    transform: translateY(24px);
    transition: inherit;
}

div.big-red-button.add-video-icon {
    background-image: url('./../img/video-add.svg');
}

div.big-red-button.add-playlist-icon {
    background-image: url('./../img/playlist.svg');
}