div.card-wrapper div.card.error {
    border-color: var(--card-border-error);
}

div.card-wrapper div.card.error div.card-header {
    background-color: var(--card-header-error);
    border-bottom-color: var(--card-border-error);
}

div.card-wrapper div.card.success {
    border-color: var(--card-border-success);
}

div.card-wrapper div.card.success div.card-header {
    background-color: var(--card-header-success);
    border-bottom-color: var(--card-border-success);
}

div.card-wrapper div.card.success div.card-body,
div.card-wrapper div.card.error div.card-body,
div.card-wrapper div.card div.card-body {
    padding: 8px;
    text-align: center;
}