div.card-wrapper.error div.card {
    border-color: var(--card-border-error);
}

div.card-wrapper.error div.card div.card-header {
    background-color: var(--card-header-error);
    border-bottom-color: var(--card-border-error);
}

div.card-wrapper.success div.card {
    border-color: var(--card-border-success);
}

div.card-wrapper.success div.card div.card-header {
    background-color: var(--card-header-success);
    border-bottom-color: var(--card-border-success);
}

div.card-wrapper div.card-contents {
    padding: 8px;
    text-align: center;
}