.delete-wrapper {
    position: relative;
    width: var(--floating-button-size);
    height: var(--floating-button-size);
}

form.delete {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    font-size: 14pt;
    font-family: var(--default-font);
    height: 100%;
    background-color: var(--accent-background);
    border-radius: var(--floating-button-size);
    width: var(--floating-button-size);
    height: var(--floating-button-size);
    overflow: hidden;
    transition: var(--default-transition);
    word-break: initial;
    border: 1px solid transparent;
}

form.delete:hover {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 260px;
    background-color: var(--body-background);
}

.delete-wrapper form.delete:hover {
    border: 1px solid var(--body-forecolor);
}

form.delete>span {
    font-family: var(--default-font);
    color: var(--body-forecolor);
    font-weight: 700;
    cursor: default;
    word-wrap: break-word;
    width: min-content;
    word-break: initial;
    line-height: 14pt;
}

form.delete button {
    width: var(--floating-button-size);
    height: var(--floating-button-size);
    border-radius: var(--floating-button-size);
    border: none;
    background-color: var(--accent-background);
}

form.delete button img {
    width: calc(var(--floating-button-size) - 16px);
    height: calc(var(--floating-button-size) - 16px);
}

form.delete button:active {
    transform: scale(0.95);
}

:root {
    --floating-button-size: 48px;
}