div.search-wrapper {
    display: flex;
    justify-content: center;
}

div.search-wrapper form.search {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid var(--body-forecolor);
    border-top: none;
    background-color: var(--search-background);
    box-shadow: 1px 1px 2px 0 var(--shadow-color);
    margin: 0 8px;
}

div.search-wrapper form.search div.params {
    display: block;
}

div.search-wrapper form.search {
    flex: 1;
}

div.search-wrapper form.search div.search-main {
    display: flex;
}

div.search-wrapper form.search {
    max-width: 1024px;
}

div.search-wrapper form.search input[type="text"] {
    margin: 8px;
    padding: 8px;
    flex: 1;
}

div.search-wrapper form.search input[type="button"],
div.search-wrapper form.search input[type="submit"] {
    flex: initial;
    font-size: 14pt;
}

@media (max-width:768px) {
    div.search-wrapper form.search input[type="submit"] {
        display: none;
    }
}