.toggle-wrapper input[type="checkbox"] {
    display: none;
}

.toggle-wrapper label {
    display: block;
    width: 40px;
    height: 20px;
    border: 3px solid;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.toggle-wrapper label span {
    position: relative;
    top: 2px;
    left: 2px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.toggle-wrapper input[type="checkbox"]~label {
    color: var(--toggle-inactive-color);
    border-color: var(--toggle-inactive-color);
    cursor: pointer;
}

.toggle-wrapper input[type="checkbox"]~label span {
    background: var(--toggle-inactive-color);
}

.toggle-wrapper input[type="checkbox"]:checked~label {
    color: var(--toggle-active-color);
    border-color: var(--toggle-active-color);
}

.toggle-wrapper input[type="checkbox"]:checked~label span {
    background: var(--toggle-active-color);
    left: 22px;
}

.toggle-wrapper input[type="checkbox"]:user-invalid~label {
    box-shadow: 0 0 1px 2px var(--input-border-color-invalid);
    animation: shake 0.33s ease-out;
}